main {
    position: relative;
    margin-top: 70px;
}

main>div>:first-child img {
    width: 100%;
    height: auto;
}

main>div>ul {
    background-color: white;
    padding: 20px 10px;
    border-radius: 15px;
    color: black;
    position: absolute;
    left: 50%;
    top: 115%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

main>div>ul li {
    margin: 20px 0;
}

main>div>ul li span {
    font-weight: bold;
}

.intro>div {
    padding: 400px 5% 80px;
}

.intro>div>:first-child h1 {
    margin-bottom: 20px;
}

.intro>div>:first-child h1 span {
    color: #1636FF;
}

.intro>div>:nth-child(2) section {
    width: 100%;
    max-width: 800px;
    margin: 15px auto;
    background-color: #1636FF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.slider2 {
    margin-bottom: 70px;
}

.slider2 .slide-item {
    padding: 0 8px;
}

.slider2 .slide-item>div {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider2 .slide-item>div>:first-child img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid #1636FF;
}

.slider2 .slide-item>div>:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 53, 255, 0.8);
    border: 2px solid #1636FF;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: all 0.6s ease;
    opacity: 0;
}

.slider2 .slide-item:hover>div>div:last-child {
    transform: translateY(0);
    opacity: 1;
}

.slider2 .slide-item>div>:last-child div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slider2 .slide-item>div>:last-child div img {
    margin: auto;
    width: 50px;
    height: auto;
}

.slider2 .slide-item>div>:last-child div p {
    margin: 10px auto 0;
    width: 90%;
    font-size: 0.8rem;
}

.slider2 .slide-item>p {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
}

.slick-prev {
    display: none !important;
}

.slick-next {
    display: none !important;
}

.slick-prev::before {
    display: none !important;
}

.slick-next::before {
    display: none !important;
}

.competitive>div>:first-child h1 span {
    color: #FC46CE;
}

.competitive>div>:first-child h3 {
    margin-top: 20px;
    font-family: "SB_L";
    font-weight: 300;
}

.competitive>div>section>:first-child>div {
    width: 100%;
    max-width: 580px;
}

.competitive>div>section:last-of-type>:first-child>div {
    width: 100%;
}

.competitive>div>section>:first-child>div:last-of-type {
    margin-top: 20px;
}

.competitive>div>section>:first-child>div>img {
    width: 100%;
    height: auto;
}

.competitive>div>section>:last-child {
    margin: 20px 0 50px;
}

.competitive>div>section>:last-child h2 {
    font-size: 1.2rem;
}

.competitive>div>section>:last-child p:first-of-type {
    margin: 20px 0;
}

.competitive>div>section:nth-of-type(2)>:first-child>div:nth-of-type(2),
.competitive>div>section:nth-of-type(2)>:first-child>div:last-of-type {
    width: 48%;
    margin-top: 20px;
}

.interior>div>:first-child p {
    margin-top: 20px;
}

.interior>div>:first-child h1 span {
    color: #FFF71B;
}

.interior>div>:nth-child(2)>div {
    width: 50%;
}

.interior>div>:nth-child(2)>div>img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: auto;
}

.interior>div>:nth-child(2)>:nth-child(2) {
    width: 48%;
    max-width: 700px;
    text-align: center;
    color: #FFF71B;
    margin: auto 0;
}

.interior>div>:nth-child(2)>:nth-child(2) h2 {
    font-size: 1rem;
    font-family: "SB_M";
}

.interior>div>:nth-child(2)>:nth-child(2) h1 {
    font-family: "SB_M";
    font-weight: 300;
}

.interior>div>:nth-child(2)>:last-child {
    width: 100%;
    margin: 20px 0 50px;
}

.interior>div>:nth-child(3)>div {
    gap: 20px;
    margin: 20px 0;
}

.interior>div>:nth-child(3)>div>div {
    width: 100%;
}

.interior>div>:nth-child(3)>div>div img {
    width: 100%;
    height: auto;
}

.interior>div>:nth-child(4) {
    margin-top: 50px;
    gap: 20px;
}

.interior>div>:nth-child(4)>div:first-of-type {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
}

.interior>div>:nth-child(4)>div img {
    width: 100%;
    height: auto;
}

.interior>div>:nth-child(4)>:last-child {
    margin: 0 auto;
}

.interior>div>:nth-child(5) {
    margin: 50px 0 80px;
    justify-content: center;
}

.interior>div>:nth-child(5) section {
    width: 48%;
    margin-bottom: 20px;
    text-align: center;
}

.interior>div>:nth-child(5) section div img {
    width: 50%;
    height: auto;
    margin: auto;
}

.interior>div>:nth-child(5) section p {
    margin-top: 20px;
}

.interior>div>:last-child {
    text-align: center;
}

.interior>div>:last-child h1 {
    margin-bottom: 50px;
    font-family: "SB_M";
    font-weight: 300;
}

.interior>div>:last-child h1 span {
    color: #FFF71B;
    font-family: "SB_M";
}

.slick-dots {
    position: relative !important;
    bottom: 0 !important;
    margin-top: 20px !important;
}

.slick-dots li button:before {
    color: #FFF71B !important;
    line-height: 0px !important;
    font-size: 10px !important;
}

.interior>div>:last-child>:nth-child(2) {
    position: relative;
}

.slide-arrow {
    width: 100%;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-prev img,
.arrow-next img {
    width: 12px;
    height: auto;
    cursor: pointer;
}

.slider1>div {
    width: 85%;
    margin: auto;
}

.slider1>div video {
    width: 100%;
    height: 230px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    object-position: center;
}

.interior>div>:last-child>:nth-child(3) {
    margin: 20px 0;
}

.interior>div>:last-child>:last-child {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FFF71B;
    background-color: rgba(255, 247, 27, 0.2);
    color: #FFF71B;
}

.interior>div>:last-child>:last-child p span {
    font-weight: bold;
}

.interior>div>:last-child {
    position: relative;
}

.price>div>:first-child h1 {
    margin-bottom: 20px;
}

.price>div>:first-child h1 span {
    color: #1636FF;
}

.price>div>:nth-child(2)>img {
    width: 85%;
    margin: auto;
    height: auto;
}

.price>div>:nth-child(4)>img {
    margin: 50px auto 80px;
    width: 30px;
    height: auto;
}

.inquire {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.inquire>:first-child {
    background-color: #1636FF;
    padding: 25px 15px;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    margin: auto;
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.inquire>:first-child h2 {
    font-family: 'SB_L';
}

.inquire>form {
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 50px 15px 50px;
    color: black;
}

.inquire>form input,
.inquire>form textarea {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
}

.inquire>form>div {
    margin-bottom: 25px;
}

.inquire>form>div label h3,
.inquire>form>div legend h3 {
    margin-bottom: 10px;
}

.inquire>form>div label h3::after,
.inquire>form>div legend h3::after {
    content: '*';
    color: #1636FF;
    margin-left: 5px;
}

.inquire>form>:nth-child(2) input {
    width: 30%;
}

.inquire>form>:nth-child(2) p {
    margin: auto;
}

.inquire>form>:nth-child(4)>:nth-child(2) {
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.inquire>form>:nth-child(4)>:nth-child(2) p {
    font-weight: bold;
    font-size: 0.8rem;
}

.inquire>form>:nth-child(4)>div ul {
    margin: 20px 0;
}

.inquire>form>:nth-child(4)>div ul li {
    margin: 5px 0;
    font-size: 0.8rem;
}

.inquire>form>:nth-child(4)>:last-child {
    margin-top: 20px;
    justify-content: left;
    gap: 10px;
}

.inquire>form>:nth-child(4)>:last-child input {
    border: 1px solid #ccc;
    margin: auto 0;
    width: auto;
}

.inquire>form>button {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background-color: #1636FF;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    main {
        margin-top: 135px;
    }

    main>div>ul {
        top: 132%;
        width: 80%;
    }

    main>div>ul li {
        font-size: 1.2rem;
    }

    .intro>div>:nth-child(2) section {
        width: 500px;
        padding: 20px;
    }

    .slider2 .slide-item>div>:last-child div img {
        width: 80px;
    }

    .slider2 .slide-item>div>:last-child div p {
        font-size: 1rem;
    }

    .slider1>div video {
        height: 450px;
    }

    .competitive>div>section>:first-child>div {
        width: 48%;
    }

    .competitive>div>section>:first-child>div:last-of-type {
        margin-top: 0;
    }

    .competitive>div>section:last-of-type>:first-child>div {
        width: 300px;
    }

    .competitive>div>section:nth-of-type(2)>:first-child>div:first-of-type {
        width: 30%;
    }

    .competitive>div>section:nth-of-type(2)>:first-child>div:nth-of-type(2),
    .competitive>div>section:nth-of-type(2)>:first-child>div:last-of-type {
        width: 30%;
        max-width: 380px;
        margin-top: 0px;
    }

    .interior>div>:nth-child(2)>:nth-child(2) h2 {
        font-size: 2rem;
    }

    .interior>div>:nth-child(2)>:nth-child(2) h1 {
        font-size: 5rem;
        font-family: "SB_M";
        margin-top: 20px;
    }

    .interior>div>:nth-child(3)>div>div {
        width: 48%;
    }

    .interior>div>:nth-child(5) section {
        width: 350px;
    }

    .interior>div>:last-child>:last-child {
        padding: 50px;
    }

    .price>div>:nth-child(3)>img {
        width: 90%;
        max-width: 800px;
        height: auto;
        margin: 0 auto;
    }

    .inquire>:first-child {
        width: 40%;
        top: -7%;
    }

    .inquire>form {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 80px 120px;
    }

    .inquire>form>:nth-child(4)>:nth-child(2) p {
        font-size: 1rem;
    }

    .inquire>form>:nth-child(4)>div ul li {
        font-size: 1rem;
    }

    .inquire>form>button {
        padding: 20px;
        font-size: 1rem;
    }

}

@media screen and (min-width: 1366px) {

    main {
        margin-top: 70px;
    }

    main>div>:first-child img {
        width: 100%;
        height: auto;
    }

    main>div>ul {
        padding: 30px;
        border-radius: 30px;
        left: 50%;
        top: 125%;
        transform: translate(-50%, -50%);
        width: 1000px;
    }

    main>div>ul li:nth-of-type(2),
    main>div>ul li:nth-of-type(3) {
        width: 80%;
        margin: 20px auto;
    }

    .intro>div {
        padding: 380px 0 150px;
    }

    .intro>div>:nth-child(2) section {
        margin: 25px auto;
        padding: 20px;
    }

    .slider2 {
        margin-bottom: 0px;
    }

    .slider2 .slide-item {
        padding: 0 20px;
    }

    .slider2 .slide-item>div>:first-child img {
        border-radius: 15px;
        border: 3px solid #1636FF;
    }

    .slider2 .slide-item>div>:last-child {
        border: 3px solid #1636FF;
        border-radius: 15px;
    }

    .slider2 .slide-item>div>:last-child div img {
        width: 120px;
    }

    .slider2 .slide-item>div>:last-child div p {
        font-size: 1.2rem;
    }

    .slider2 .slide-item>p {
        margin-top: 25px;
        font-size: 1.3rem;
    }

    .competitive>div>:first-child h3 {
        font-size: 2rem;
        width: 50%;
        margin: 25px auto 80px;
    }

    .competitive>div>section>:first-child>div:last-of-type {
        margin-top: 0px;
    }

    .competitive>div>section:last-of-type>:first-child>div {
        width: 380px;
    }

    .competitive>div>section>:last-child {
        margin: 40px 0 80px;
    }

    .competitive>div>section>:last-child h2 {
        font-size: 1.8rem;
    }

    .competitive>div>section>:last-child p {
        width: 60%;
        margin: auto;
    }

    .competitive>div>section>:last-child p:first-of-type {
        margin: 20px auto;
    }

    .competitive>div>section:nth-of-type(2)>:first-child>div:first-of-type {
        width: 380px;
    }

    .competitive>div>section:nth-of-type(2)>:first-child>div:nth-of-type(2),
    .competitive>div>section:nth-of-type(2)>:first-child>div:last-of-type {
        width: 380px;
    }

    .interior>div>:first-child p {
        margin-top: 25px;
    }

    .interior>div>:nth-child(2)>:nth-child(2) h2 {
        font-size: 3rem;
    }

    .interior>div>:nth-child(2)>:nth-child(2) h1 {
        font-size: 6rem;
    }

    .interior>div>:nth-child(2)>:last-child {
        margin: 40px 0 50px;
    }

    .interior>div>:nth-child(3)>div>div {
        width: 580px;
    }

    .interior>div>:nth-child(3)>div {
        gap: 40px;
        margin: 20px 0 50px;
    }

    .interior>div>:nth-child(3)>div img {
        border-radius: 30px;
    }

    .interior>div>:nth-child(4) {
        gap: 0px;
    }

    .interior>div>:nth-child(4)>:last-child {
        width: 580px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .interior>div>:nth-child(4)>:last-child p {
        width: 100%;
    }

    .interior>div>:nth-child(4)>div:first-of-type img {
        border-radius: 30px;
    }

    .interior>div>:nth-child(5) {
        margin: 80px 0 100px;
    }

    .interior>div>:nth-child(5) section {
        width: 240px;
        margin-bottom: 20px;
        text-align: center;
    }

    .interior>div>:nth-child(5) section div img {
        width: 150px;
    }

    .interior>div>:nth-child(5) section p {
        margin-top: 40px;
        font-size: 1.3rem;
    }

    .interior>div>:last-child h1 {
        margin-bottom: 80px;
        font-size: 3rem;
    }

    .interior>div>:last-child>:nth-child(3) {
        margin: 40px 0;
    }

    .interior>div>:last-child>:last-child {
        padding: 70px;
        border-radius: 30px;
        border: 3px solid #FFF71B;
    }

    .interior>div>:last-child>:last-child p {
        width: 50%;
        margin: auto;
        font-size: 1.3rem;
    }

    .slick-dots li button:before {
        font-size: 15px !important;
    }

    .slide-arrow {
        top: 45%;
    }

    .arrow-prev img,
    .arrow-next img {
        width: 20px;
    }

    .slider1>div video {
        width: 1000px;
        height: 600px;
    }

    .price>div>:first-child h1 {
        margin-bottom: 25px;
    }

    .price>div>:nth-child(4)>img {
        margin: 70px auto 150px;
        width: 50px;
    }

    .inquire>:first-child {
        padding: 30px;
        width: 400px;
        top: -8%;
    }

    .inquire>:first-child h2 {
        font-size: 2.5rem;
    }

    .inquire>form {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 120px 180px 150px;
    }

    .inquire>form input,
    .inquire>form textarea {
        padding: 20px;
    }

    form input::placeholder,
    form textarea::placeholder {
        font-size: 1.2rem;
    }

    .inquire>form>div {
        margin-bottom: 40px;
    }

    .inquire>form>div label h3,
    .inquire>form>div legend h3 {
        margin-bottom: 15px;
        font-size: 1.5rem;
    }

    .inquire>form>:nth-child(2) {
        width: 500px;
    }

    .inquire>form>:nth-child(2) input {
        width: 30%;
    }

    .inquire>form>:nth-child(2) p {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .inquire>form>:nth-child(4)>:nth-child(2) {
        padding: 30px;
        border-radius: 10px;
    }

    .inquire>form>:nth-child(4)>:nth-child(2) p {
        font-size: 1.2rem;
        margin: 10px 0;
    }

    .inquire>form>:nth-child(4)>div ul {
        margin: 30px 0;
    }

    .inquire>form>:nth-child(4)>div ul li {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .inquire>form>:nth-child(4)>:last-child {
        margin-top: 40px;
    }

    .inquire>form>button {
        padding: 25px;
        margin-top: 50px;
        border-radius: 15px;
        font-size: 1.2rem;
    }
}